.navbar-font{
    font-family: 'Quicksand';
    font-weight: 900;
    font-size: 18px;
}


@media screen and (max-width: 760px){
    .nav-font ul{
        display: flex;
        justify-content: center;
        text-align: center;
        
    }
    
}